In [1]:
name = "Muhammad Ardi Madinah"
addres,province = "jl.jampangkulon","289462"
age = 19
scorePython = 90.7
isMarried = False


print ("Nama :" ,name)
print ("Alamat :" , addres)
print ("Umur :" ,age)
print ("Nilai pemrograman :" ,scorePython)
print ("Status Menikah :" ,isMarried)
print ("propinsi :" ,province)

Nama : muhamad reksa pratama
Alamat : jl.jampangkulon
Umur : 20
Nilai pemrograman : 90.7
Status Menikah : False
propinsi : 030405

In [3]:
print ("tipe data <name> :" , type(name))
print ("tipe data <address> :" , type(addres))
print ("tipe data <age> :" , type(age))
print ("tipe data <scorePython> :" , type(scorePython))
print ("tipe data <isMarried> :" , type(isMarried))

tipe data <name> : <class 'str'>
tipe data <address> : <class 'str'>
tipe data <age> : <class 'int'>
tipe data <scorePython> : <class 'float'>
tipe data <isMarried> : <class 'bool'>

In [4]:
# casting / KOnversi Tipe Data
#1. String ke (int,float,boolean)
strToInt = int (province)
strToFLoat = float (province)
strToBool = bool (province)
print(strToInt + 2,strToFLoat,strToBool, sep="-")

#2. String ke (int,float,boolean)
intToStr= str (age)
intToFLoat = float (age)
intToBool = bool (age)
print(intToStr ,strToFLoat,strToBool, sep="-")

#3. Float ke (int,float,boolean)
floatToStr= str (scorePython)
floatToint = int (scorePython)
floatToBool = bool (scorePython)
print(floatToStr ,floatToint,floatToBool, sep="-")

#3. Bool ke (int,float,boolean)
boolToStr= str (isMarried)
boolToint = int (isMarried)
boolTofloat = bool (isMarried)
print(boolToStr ,boolToint,boolTofloat, sep="-")

30407-30405.0-True
20-30405.0-True
90.7-90-True
False-0-False

In [5]:
 #Tipe data basis bilangan (desimal,biner,octal, hexa)

desimal = 500
biner = 0b1010 #10
octal = 0o377 #255
hexa = 0xff #255

print ("Nilai desimal :",desimal)
print (" Nilai biner :",biner)
print (" Nilai octal :",octal)
print (" Nilai hexa :",hexa)

print ("Nilai biner dari",desimal, ":" ,bin(desimal))
print ("Nilai octal dari",desimal, ":" ,oct(desimal))
print ("Nilai hexa dari",desimal, ":" ,hex(desimal))

Nilai desimal : 500
 Nilai biner : 10
 Nilai octal : 255
 Nilai hexa : 255
Nilai biner dari 500 : 0b111110100
Nilai octal dari 500 : 0o764
Nilai hexa dari 500 : 0x1f4

In [6]:
city = "JAMPANGKULON"
length = len(city)
print (city[0])
print (length)
print (city[length-1])

J
12
N

In [8]:
#Tipe data Collection
cities =["bandung","Sukabumi","Bogor","Jakarta","medan"]
lengthCities = len(cities)
print (cities)
print (cities[0])
print (cities[lengthCities-1])
print (cities[lengthCities-1][0])
print (cities[lengthCities-1][len(cities[lengthCities-1])-1])
cities [0] = "Bali"
#cities[5] = "Malang" akan menyebabkan eror out of range
print (cities)

names = ("Reemar","Awa","ardi")
print (names)
print (names[1])
#names[0] = "Dedi" error immutable tuple

studentData = {
    "name" : "Reemar",
    "age": 21,
    "address" : {
        "street" : "Australlia",
        "number" : 23,
        "province" : "Jawa Barat"
    },
    "isMarried" : False,
    "hobbies" : ["badminton", "volly"]
    

}
{
    "name" : "Awa",
    "age" : 19,
    "address" : {
        "street" : "Jampangkulon",
        "number" : 29,
        "province" : "Jawa Barat"
    },
    "isMarried" : False,
    "hobbies" : ["Make up", "Singing"]
}



print (studentData)
print (studentData["age"])
print (studentData["address"]["province"])
print (studentData["hobbies"][0])

['bandung', 'Sukabumi', 'Bogor', 'Jakarta', 'medan']
bandung
medan
m
n
['Bali', 'Sukabumi', 'Bogor', 'Jakarta', 'medan']
('Reemar', 'Awa', 'ardi')
Awa
{'name': 'Reemar', 'age': 21, 'address': {'street': 'Australlia', 'number': 23, 'province': 'Jawa Barat'}, 'isMarried': False, 'hobbies': ['badminton', 'volly']}
21
Jawa Barat
badminton

In [9]:
#Konversi dictionary

list_list =[["name","andi"],["age", 30],["Status", True]]
dictListStudent = dict (list_list)
print (dictListStudent)

list_tuple = [("Name","Tugba"),("Address","Bogor")]
dictTupleStudent = dict (list_tuple)
print (dictTupleStudent)

tuple_list = (["name","tiger"],["Type","Mamalia"])
dictListAnimal = dict (tuple_list)
print (dictListAnimal)

tuple_tuple = (("name", "Reza"), ("type", "Mamalia"))
dictTupAnimal = dict(tuple_tuple)
print (dictTupAnimal)

keys = [ "vehicle","Brand" ,"cc"]
values = ["car","BMW", "2500"]
car = dict(zip(keys,values))
print(car)

{'name': 'andi', 'age': 30, 'Status': True}
{'Name': 'Tugba', 'Address': 'Bogor'}
{'name': 'tiger', 'Type': 'Mamalia'}
{'name': 'Reza', 'type': 'Mamalia'}
{'vehicle': 'car', 'Brand': 'BMW', 'cc': '2500'}